# Database configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tarot?schema=public"

# NextAuth configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="development-secret-change-me-in-production-1234567890"

# Google OAuth credentials
GOOGLE_CLIENT_ID="475384997449-p9023ka8425jdi9ss1fh34u74ui240k6.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"
